* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* CORE ELEMENTS - MAIN STYLING */
body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}

/* NAVBAR */

#navbar {
    background-color: #333;
    box-shadow: 0 0 8px rgba(0,0,0, 0.3);
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

a {
    text-decoration: none;
    color: white;
}

