* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* CORE ELEMENTS - MAIN STYLING */
body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    background-color: white;
}

/* NAVBAR */

#navbar {
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

a {
    text-decoration: none;
    color: white;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

/* SHOWCASE */

#showcase {
    background-color: #222222;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
}

.left-showcase-container {
    color: white;
    margin-bottom: 50px;
    padding: 0 100px;
    width: 600px;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1 {
    align-items: flex-start;
    margin-top: 20px;
}

.btn {
    text-align: center;
    border: solid #3882F6;
    background-color: #3882F6;
    font-weight: 900;
    border-radius: 10px;
    width: 100px;
    padding: 10px 10px;

}

.right-showcase-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
    padding: 0 200px;
    border: solid white;
    width: 300px;
}

/* INFO */

#info {
    margin-top: 50px;
    margin-bottom: 50px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
}

.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: solid #222222;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-player {
    text-align: center;
    border: solid #e00c0c;
    background-color: #e00c0c;
    font-weight: 900;
    border-radius: 10px;
    width: 100px;
    padding: 10px 10px;

}

.title {
    font-size: 36px;
    font-weight: 900;
    color: black;
    text-align: center;
}

